@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	font-family: 'Manrope', sans-serif;
	font-size: 16px;

	--radius: 1.3rem;

	--bg-white: #ffffff;
	--bg-gray: #f5f5f5;

	--bg-danger: #feebeb;
	--danger: #f23b3b;

	--whisper-100: #ebebeb;
	--whisper-150: #e0e0e0;
	--whisper-200: #d6d6d6;
	--whisper-300: #c2c2c2;
	--whisper-500: #999999;
	--whisper-700: #5e5e5e;
	--whisper-950: #141414;

	--rapture-50: #fff7f5;
	--rapture-100: #ffe5dc;
	--rapture-150: #ffd7cb;
	--rapture-200: #ffbda8;
	--rapture-300: #f8a489;
	--rapture-400: #fb8e6b;
	--rapture-500: #fe7b51;
	--rapture-600: #d36441;
	--rapture-700: #9a472d;
	--rapture-800: #7d3720;
	--rapture-900: #522110;
	--rapture-950: #3d1508;

	--mindaro-50: #fafff0;
	--mindaro-100: #f6ffcf;
	--mindaro-150: #ecffb4;
	--mindaro-200: #e7ff85;
	--mindaro-300: #d8fb5b;
	--mindaro-400: #c4f229;
	--mindaro-500: #a5d80a;
	--mindaro-600: #6da104;
	--mindaro-700: #587807;
	--mindaro-800: #54670d;
	--mindaro-900: #415710;
	--mindaro-950: #213102;

	--chimera-50: #f4f7ff;
	--chimera-100: #e5ecff;
	--chimera-150: #d1dcff;
	--chimera-200: #c1d0ff;
	--chimera-300: #99b2ff;
	--chimera-400: #5982fe;
	--chimera-500: #2f63fe;
	--chimera-600: #2247b9;
	--chimera-700: #1c3c9a;
	--chimera-800: #132869;
	--chimera-900: #091537;
	--chimera-950: #050b1e;

	color: var(--whisper-950);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
